<div class="animted fadeOut delay-1s">
    <!-- Masthead -->
    <header class="masthead text-white text-center " id="home">
        <div class="row align-middle">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 " id="fondo">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators  " data-slide-to="0" class="active" mdbTooltip=" Cambiar" placement="right" mdbWavesEffect></li>
                </ol>

                <div id="player">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">

                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 bg-light container align-middle " style="height: 16vh;">


            </div>
        </div>
    </header>

    <div class="row d-none d-sm-block pb-3 pt-3 grey lighten-2">
        <div class="col-10 ml-auto mr-auto" style="background-color: rgb(255, 255, 255);">

            <div id="carousel-example-2" class="carousel slide carousel-fade shadow-sm px-1  mb-3" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators" style="opacity: 0.5;">
                    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-2" data-slide-to="1"></li>
                    <li data-target="#carousel-example-2" data-slide-to="2"></li>
                    <li data-target="#carousel-example-3" data-slide-to="3"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <!--Mask color-->
                        <div class="view">
                            <div style="height: 75vh;"></div>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <div class="ml-auto mr-auto" style="height: 25px; width: 50%; background-color: rgb(224, 224, 224); "></div>
                            <div class="ml-auto mr-auto" style="height: 15px; width: 80%; background-color: rgb(224, 224, 224); margin-top: 15px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="disenio"></div>
    <section class="testimonials text-center pt-5" style="background-color: white;">
        <div class="row">
            <div class="col-12">
                <div class="view">
                    <div class="mb-3" style="height: 25px; width: 35%; background-color: rgb(224, 224, 224); "></div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <div class="ml-auto mr-auto mb-3" style="height: 28vh; width: 100%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto mb-3" style="height: 25px; width: 80%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto" style="height: 15px; width: 50%; background-color: rgb(224, 224, 224); "></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-toggle="modal" data-target="#exampleModalPreview">
                                <div class="ml-auto mr-auto mb-3" style="height: 28vh; width: 100%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto mb-3" style="height: 25px; width: 80%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto" style="height: 15px; width: 50%; background-color: rgb(224, 224, 224); "></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <div class="ml-auto mr-auto mb-3" style="height: 28vh; width: 100%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto mb-3" style="height: 25px; width: 80%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto" style="height: 15px; width: 50%; background-color: rgb(224, 224, 224); "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="codigo"></div>
    <div style="padding-top: 5vh; padding-bottom: 5vh; background-color: #bbbbbb" data-aos="fade-up" data-aos-duration="500">
        <div class="row">
            <div class="col-12">
                <div class="view">
                    <div class="mb-3" style="height: 25px; width: 35%; background-color: rgb(224, 224, 224); "></div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <div class="ml-auto mr-auto mb-3" style="height: 28vh; width: 100%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto mb-3" style="height: 25px; width: 80%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto" style="height: 15px; width: 50%; background-color: rgb(224, 224, 224); "></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-toggle="modal" data-target="#exampleModalPreview">
                                <div class="ml-auto mr-auto mb-3" style="height: 28vh; width: 100%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto mb-3" style="height: 25px; width: 80%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto" style="height: 15px; width: 50%; background-color: rgb(224, 224, 224); "></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <div class="ml-auto mr-auto mb-3" style="height: 28vh; width: 100%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto mb-3" style="height: 25px; width: 80%; background-color: rgb(224, 224, 224); "></div>
                                <div class="ml-auto mr-auto" style="height: 15px; width: 50%; background-color: rgb(224, 224, 224); "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>