<!-- notification for small viewports and landscape oriented smartphones -->
<app-modales></app-modales>

<div class="body2">

    <div class="perspective effect-rotate-left">
        <div>
            <div id="viewport" class="l-viewport">
                <div class="l-wrapper">
                    <header class="header">


                        <i class="fas fa-exchange-alt ml-5 mr-5" (click)="volver()" mdbTooltip=" Cambiar" placement="top" mdbWavesEffect></i>

                        <button class="header--cta cta">Contactame</button>

                    </header>
                    <nav class="l-side-nav">
                        <ul class="side-nav">
                            <li class="is-active"><span>Diseño</span></li>
                            <li><span>Codigo</span></li>
                            <li><span>Sobre Mi</span></li>
                            <li><span>Contacto</span></li>
                        </ul>
                    </nav>
                    <ul class="l-main-content main-content">
                        <li class="l-section section section--is-active">
                            <div class="intro">
                                <div class="intro--banner">
                                    <h1 style="font-size: 40pt;" class="col-6">Diseño<br>Comunicacion<br>Programacion</h1>
                                    <button class="cta">Contactame
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;"
                                            xml:space="preserve">
                                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                <path
                                                    d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                            </g>
                                        </svg>
                                        <span class="btn-background"></span>
                                    </button>
                                    <img src="../../../assets/img/introduction-visual.png" alt="Welcome" data-toggle="modal" data-target="#ahor">
                                </div>
                                <div class="intro--options">
                                    <a href="#0">
                                        <h3>Diseñadora Grafica</h3>
                                        <p>Egresada la Universidad de Buenos Aires en 2011</p>
                                    </a>
                                    <a href="#0">
                                        <h3>Tecnica en Programacion</h3>
                                        <p>Aprendiendo multiples tecnologias en la UTN</p>
                                    </a>
                                    <a href="#0">
                                        <h3>Apasionada</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="l-section section">
                            <div class="work">
                                <div class="work--lockup">
                                    <ul class="slider">
                                        <li class="slider--item slider--item-left">
                                            <a href="" data-toggle="modal" data-target="#vt4">
                                                <div class="slider--item-image">
                                                    <img src="../../../assets/img/work-victory.jpg" alt="Victory">
                                                </div>
                                                <p class="slider--item-title">VT4</p>
                                                <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                                            </a>
                                        </li>
                                        <li class="slider--item slider--item-center">
                                            <a href="#0">
                                                <div class="slider--item-image">
                                                    <img src="../../../assets/img/work-metiew-smith.jpg" alt="Metiew and Smith">
                                                </div>
                                                <p class="slider--item-title">La Comanda &amp; Angular 8</p>
                                                <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                                            </a>
                                        </li>
                                        <li class="slider--item slider--item-right">
                                            <a href="" data-toggle="modal" data-target="#exampleModalPreview">
                                                <div class="slider--item-image">
                                                    <img src="../../../assets/img/work-alex-nowak.jpg" alt="Alex Nowak">
                                                </div>
                                                <p class="slider--item-title">Palacio Hacienda</p>
                                                <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="slider--prev">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z" />
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="slider--next">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                <path
                                                    d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="l-section section">
                            <div class="about">
                                <div class="about--banner">
                                    <h2>Diseñando<br>con Pasion<br>Pensando<br>en los detalles </h2>
                                    <a href="#0">Mis Trabajos Preferidos
                                        <span>
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;"
                                                xml:space="preserve">
                                                <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                                    <path
                                                        d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                                                </g>
                                            </svg>
                                        </span>
                                    </a>
                                    <img src="../../../assets/img/about-visual.png" alt="About Us">
                                </div>
                                <div class="about--options">
                                    <a href="" data-toggle="modal" data-target="#cnv">
                                        <h3>CNV</h3>
                                    </a>
                                    <a href="" data-toggle="modal" data-target="#vt4">
                                        <h3 styke>VT 4</h3>
                                    </a>
                                    <a href="" data-toggle="modal" data-target="#nai">
                                        <h3>Naira-Bartó</h3>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="l-section section">
                            <div class="contact">
                                <div class="contact--lockup">
                                    <div class="modal2">
                                        <div class="modal2--information">
                                            <p>Desde Chacarita, CABA</p>
                                            <a href="mailto:lucilarizzi@gmail.com">lucilarizzi@gmail.com</a>

                                            <ul class="modal--options">
                                                <li>
                                                    <a href="https://api.whatsapp.com/send?phone=05491165318473">
                                                        <i class="fab fa-whatsapp fa-2x fa-fw ml-5 mr-5"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://github.com/lucilarizzi">
                                                        <i class="fab fa-github fa-2x fa-fw"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/lucila-rizzi-6754731b/">

                                                        <i class="fab fa-linkedin fa-2x fa-fw"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="../../../assets/js/vendor/jquery-2.2.4.min.js"><\/script>')
</script>
<script src="../../../assets/js/functions-min.js"></script>