<!-- <div class="row  mt-2">
    <div class="col-2  pt-2 pb-2"></div>
    <div class="col-8">
        <div class=" text-center text-dark text-uppercase pt-2 pb-2">
            <h1 style="font-weight: 700;">Servicios</h1>
        </div>

        <div class="col-2  pt-2 pb-2"></div>
    </div>
</div> -->
<div class="row mb-3 mt-3">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 text-center mt-5  " data-aos="zoom-in" data-aos-duration="500">
                <h2 style="font-weight: 800;" class="mt-1 mb-1">
                    Diseño OFF – line
                </h2>
                <hr>
                <p class="mb-1 mt-1">
                    Con mas de 9 años de experiencia en sistemas de identidad de marca, desarrollo de logotipos y comunicación institucional
                </p>
                <hr>
                <div class="row text-center mt-3 mb-1">

                    <div class="col-12 ">
                        <div class="row text-center ">
                            <h4 class="mr-auto ml-auto  col-sm-6 col-md-6 col-lg-4 col-6 "> <span class="badge mr-1 ml-1 badge-pill  elegant-color ">Branding</span></h4>
                            <h4 class="mr-auto ml-auto  col-sm-6 col-md-6 col-lg-4 col-6"> <span class="badge mr-1 ml-1 badge-pill stylish-color ">Editorial</span></h4>
                            <h4 class="mr-auto ml-auto  col-sm-6 col-md-6 col-lg-4 col-6"> <span class="badge mr-1 ml-1 badge-pill unique-color ">Señalética</span></h4>
                            <h4 class="mr-auto ml-auto  col-sm-6 col-md-6 col-lg-4 col-6"> <span class="badge mr-1 ml-1 badge-pill special-color ">Merchandising</span></h4>
                            <h4 class="mr-auto ml-auto  col-sm-6 col-md-6 col-lg-4 col-6"> <span class="badge mr-1 ml-1 badge-pill unique-color-dark">Folletería</span></h4>
                            <h4 class="mr-auto ml-auto  col-sm-6 col-md-6 col-lg-4 col-6"> <span class="badge mr-1 ml-1 badge-pill special-color-dark">Catálogos</span></h4>
                            <!--    <h4 class="mr-auto ml-auto col-4"> <span class="badge mr-1 ml-1 badge-pill info-color ">Diseño Personalizado </span></h4> -->
                        </div>
                        <hr>
                    </div>

                </div>
                <div class="view">
                    <img src="../../../assets/disenio.gif" class="mb-2 img-fluid" alt="smaple image">
                    <div class="mask pattern-1 flex-center">

                        <button type="button" class="btn btn-cyan" onclick="location.href='https://api.whatsapp.com/send?phone=05491165318473'">Contactame por Diseño
                            Grafico</button>
                    </div>
                </div>



            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12  text-center mt-5 " data-aos="zoom-in" data-aos-duration="2000">
                <h2 style="font-weight: 800;" class="mt-1 mb-1">
                    Desarollo Web y Programacion
                </h2>
                <hr>
                <p class="mb-1 mt-1">
                    Tene tu propia pagina web con lo ultimo en tecnologia, diseño dentrados en el usuario, responsivos e interactivos
                </p>
                <hr>
                <div class="row text-center mt-3 mb-1">

                    <div class="col-12 ">
                        <div class="row text-center ">
                            <h4 class="mr-auto ml-auto col-4 col-sm-6 col-md-6 col-lg-4 col-6 "> <span class="badge mr-1 ml-1 badge-pill  danger-color mr-1 ml-1 ">Wordpress</span></h4>
                            <h4 class="mr-auto ml-auto col-4 col-sm-6 col-md-6 col-lg-4 col-6"> <span class="badge mr-1 ml-1 badge-pill unique-color-dark ">Parallax</span></h4>
                            <h4 class="mr-auto ml-auto col-4 col-sm-6 col-md-6 col-lg-4 col-6"> <span class="badge mr-1 ml-1 badge-pill success-color ">Mobiles First</span></h4>
                            <h4 class="mr-auto ml-auto col-4 col-sm-6 col-md-6 col-lg-4 col-6"> <span class="badge mr-1 ml-1 badge-pill warning-color ">Marketin Digital</span></h4>
                            <h4 class="mr-auto ml-auto col-4 col-sm-6 col-md-6 col-lg-4 col-6"> <span class="badge mr-1 ml-1 badge-pill secondary-color-dark">Animaciones</span></h4>
                            <h4 class="mr-auto ml-auto col-4 col-sm-6 col-md-6 col-lg-4 col-6"> <span class="badge mr-1 ml-1 badge-pill default-color ">Sin costos fijos</span></h4>

                        </div>
                        <hr>
                    </div>

                </div>
                <div class="view">
                    <img src="../../../assets/programacion.gif" class="mb-2 img-fluid" alt="smaple image">
                    <div class="mask pattern-1 flex-center">

                        <button type="button" class="btn btn-deep-purple " onclick="location.href='https://api.whatsapp.com/send?phone=05491165318473'">Contactame por Diseño
                            Web</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="col-1 "></div>
</div>
<!--   <div class="card-columns mr-3">
                    <div class="view overlay" *ngFor="let item of images">
        
                        <img [src]="item.img" class="img-fluid" alt="smaple image">
        
                        <div class="mask rgba-white-strong pt-5 pl-2 pr-2" data-toggle="modal" [attr.data-target]="item.modal">
                            <h3 class="text-dark text-capitalize font-weight-bold">
                                {{ item.titulo }}
                            </h3>
                            <p class="text-dark mt-2 text-truncate">
                                {{ item.description }}
                            </p>
                        </div>
        
        
                    </div> -->