<div class="row">
    <div class="col-lg-2 col-1 col-md-2 "> </div>
    <div class="col-lg-3 col-11 col-sm-11 col-md-6 ">
        <div id="container" data-aos="fade-up" data-aos-duration="1500" alt="" style="height: 300px; align-content: right;">
            <div id="content">
                <div style="width: 80%; margin-left: auto; margin-right: auto;">
                    <img class="img-fluid rounded-circle mb-5 mt-5 ml-2 " src='../../../assets/yo/foto_perfil_1.jpg'>
                </div>
            </div>
        </div>

        <div appParallax [ratio]="0" id="square"></div>

    </div>
    <div class="col-lg-7 col-md-7  col-11 col-sm-11 order-lg-2 my-auto showcase-text" data-aos="fade-up" data-aos-duration="3000">
        <div class="col-11 ml-2 ">
            <h2>Lucila Rizzi</h2>
            <p class="lead mb-0">Hola! soy Lucila, soy diseñadora gráfica especialista en comunicación institucional estatal con orientación financiera/económica, con mas de 7 años trabajando en áreas de Prensa de distintos ministerios, he llegado a liderar la dirección gráfica
                del Ministerio de Finanzas. </p>
            <p class="lead mb-0">Actualmente he finalizado mi beca en la Tecnicatura Universitaria en Programación de la UTNFRA (avellaneda) y estoy empezando a incursionar en el diseño y desarrollo web de la DGSIAF oficina que administración de los sistemas financieros del
                estado nacional, participando de múltiples proyectos, como así también participo de proyectos en el ámbito privado de manera freelance </p>
            <hr>
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-lg-6  col-12 ">
                    <div>
                        <i class="fas fa-star purple-text  mr-2  text-purple"></i>
                        <i class="fas fa-star purple-text  mr-2 ml-2  "></i>
                        <i class="fas fa-star purple-text  mr-2 ml-2  "></i>
                        <i class="fas fa-star purple-text  mr-2 ml-2  "></i>
                        <i class="fas fa-star purple-text  mr-2 ml-2  "></i>
                        <h3 class="mt-2">Diseño</h3>
                    </div>
                </div>
                <div class="col-lg-6  col-12">
                    <div>
                        <i class="fas fa-star purple-text mr-2   "></i>
                        <i class="fas fa-star purple-text mr-2 ml-2  "></i>
                        <i class="fas fa-star purple-text mr-2 ml-2  "></i>
                        <h3 class="mt-2">Programación</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <button type="button" class="btn btn-outline-default waves-effect mt-4" style="width: 100%;" (click)="descargar()">Ver CV</button>
            </div>

        </div>

    </div>
</div>