<div class="row info-box ">
    <div class="col-12 col-lg-4 mb-2 mt-2 pt-3 pb-3 ">
        <div id="container" data-aos="fade-up" data-aos-duration="1500" alt="">
            <div id="content">
                <div class="d-block d-md-none" style="height:250px; width: auto; margin-left: auto; margin-right: auto;">
                    <img class="img-thumbnail rounded  mb-5 ml-2 mt-5" src='../../../assets/yo/foto_perfil_1.jpg'>
                </div>
                <div class="d-none d-md-block" style="height: 50%; margin-left:    auto; margin-right: auto; ">
                    <img class="img-thumbnail rounded  mb-5 ml-2  " src='../../../assets/yo/foto_perfil_2.jpg'>
                </div>
            </div>
        </div>

        <div appParallax [ratio]="0" id="square"></div>

    </div>
    <div class="col-12 col-lg-8 pt-3 pb-3 " data-aos="fade-up" data-aos-duration="3000" style=" background-color: rgba(255, 255, 255, 0.6);">
        <div class="col-12 ml-2 ">
            <div style="height:10vh"></div>
            <h2 id="nombre" style="font-family: 'Playfair Display', ;"> <strong>
            Lucila  Rizzi
        </strong> </h2>
            <hr>
            <p class="info mb-0">Hola! soy Lucila, vivo en la ciudad de Buenos Aires, Argentina y llevo mas de 9 años trabajando en lo que amo</p>
            <p class="info2 mb-0"> Bienvenido a mi porfolio, el mismo no es solo un espacio para mostrar mi trabajos preferidos, sino que tambien es ulugar de experimentacion web, en el mismo encontraras multiples paginas, alguna pensadas para un resposive a 2 pantallas o el
                lado B de esta misma </p>
            <p class="info2 mb-0"> Te invito que disfrutar la propuesta de HOY =) </p>
            <hr>




            <div class="row mt-2" data-aos="fade-up" data-aos-duration="1000">
                <!--   <canvas id="myChart"></canvas> -->
                <div class="col-lg-6  col-6 ">
                    <i style="font-size: 9pt;" class="fas fa-star purple-text    text-purple animated fadeIn "></i>
                    <i style="font-size: 9pt;" class="fas fa-star purple-text   ml-2 animated fadeIn delay-1s "></i>
                    <i style="font-size: 9pt;" class="fas fa-star purple-text   ml-2 animated fadeIn delay-2s "></i>
                    <i style="font-size: 9pt;" class="fas fa-star purple-text   ml-2 animated fadeIn delay-3s "></i>
                    <i style="font-size: 9pt;" class="fas fa-star purple-text   ml-2 animated fadeIn delay-4s "></i>
                    <h3 style="font-size: 12pt;">Diseño</h3>
                </div>
                <div class="col-lg-6 col-6">
                    <i style="font-size: 9pt;" class="fas fa-star purple-text  animated fadeIn   "></i>
                    <i style="font-size: 9pt;" class="fas fa-star purple-text  ml-2  animated fadeIn delay-1s "></i>
                    <i style="font-size: 9pt;" class="fas fa-star purple-text  ml-2 animated fadeIn delay-1s "></i>
                    <h3 style="font-size: 12pt;">Programación</h3>
                </div>

            </div>
        </div>

    </div>

</div>

<button type="button" class="btn btn-outline-default waves-effect " style="width: 100%;" (click)="descargar()">Descargar CV</button>