#gato {
    position: fixed;
    z-index: -1;
    bottom: 0px;
    left: 50px;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/gato.png');
}

#content {
    overflow: visible;
    text-align: center;
    font-size: 1.5rem;
}

#container {
    width: 100%;
}

.sticky {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .08);
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    opacity: 1;
}

.container {
    height: 100%;
}

.player {
    height: 100%;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 1.4rem;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding: 0;
}

.header {
    background-color: #fff;
}

.fondo {
    background-image: url('../../../assets/fondos/fondo.png');
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.fas>.fa-code :hover,
.fab :hover,
.fa-whatsapp:hover {
    color: black;
}

.fa-whatsapp {
    color: #25d366;
}

.testimonial-item {
    background-color: rgb(119, 119, 119, 0.5);
    margin: 10px;
    padding: 10px;
    color: black;
    min-height: 220px;
    max-height: 220px;
}

h5 {
    font-size: 15pt;
    font-weight: 600;
}