<mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'">

    <mdb-carousel-item>
        <div class="view">
            <p class="p-responsive mb-5 h3">Eventos Deportivos en Redes Sociales</p>
            <div class="row">
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-thumbnail rounded mb-3" src="../../../assets/yo/vt4.png" alt="" style="min-width: 100%">
                        <h5>Violentango 4</h5>
                        <p class="font-weight-light mb-0">Diseño y Coordinación General de Torneo Violentango 4</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-thumbnail rounded mb-3" src="../../../assets/yo/wonder.jpg" alt="" style="min-width: 100%">
                        <h5>Wonderclan</h5>
                        <p class="font-weight-light mb-0">Diseño de evento de Redes</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-thumbnail rounded mb-3" src="../../../assets/yo/2x4.png" alt="" style="min-width: 100%">
                        <h5>2x4 Roller Derby</h5>
                        <p class="font-weight-light mb-0">Dirección de Arte y Gestión Creativa de 2x4 Roller Derby. </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-thumbnail rounded mb-3" src="../../../assets/yo/derbypalooza2.jpg" alt="" style="min-width: 100%">
                        <h5>Derbypalooza</h5>
                        <p class="font-weight-light mb-0">
                            Torneo de Roller Derby Diseño de logo y gráfica completa Mayo 2017
                        </p>

                    </div>
                </div>
            </div>

            <!--     <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div> -->
        </div>

        <!--   <div class="carousel-caption">
            <div class="animated fadeInDown">
               
            </div>
        </div> -->
    </mdb-carousel-item>

    <mdb-carousel-item>
        <div class="view">
            <p class="p-responsive mb-5 h3" style="color:white">Proyectos Institucionales</p>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-thumbnail rounded mb-3 " src="../../../assets/yo/economia.jpg" alt="" style="min-width: 100%">
                        <h5 class="text-light">Ministerio Economia </h5>
                        <p class="font-weight-light mb-0 text-light">Trabajos para el Ministerio de Economía"
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-toggle="modal" data-target="#exampleModalPreview">
                        <img class="img-thumbnail rounded mb-3" src="../../../assets/yo/hacienda.jpg" alt="" style="min-width: 100%">
                        <h5 class="text-light">Palacio de Hacienda</h5>
                        <p class="font-weight-light mb-0 text-light">Iconografia del Palacio de Hacienda </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-thumbnail rounded mb-3" src="../../../assets/yo/cnv.jpg" alt="" style="min-width: 100%">
                        <h5 class="text-light">CNV</h5>
                        <p class="font-weight-light mb-0 text-light">Rediseño Total de Imagen Institucional</p>
                    </div>
                </div>
            </div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view">
            <p class="p-responsive mb-5 h3" style="color:white">Diseños de Marcas</p>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-thumbnail rounded mb-3 " src="../../../assets/cv/DJSHOPparaFB.jpg" alt="" style="min-width: 100%">
                        <h5 class="text-light">Dj Shop </h5>
                        <p class="font-weight-light mb-0 text-light">Diseño de Logo
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-thumbnail rounded mb-3" src="../../../assets/cv/exclusivos.jpg" alt="" style="min-width: 100%">
                        <h5 class="text-light">Exclusivos - Almacen de Campo</h5>
                        <p class="font-weight-light mb-0 text-light">Diseño de Logo </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-toggle="modal" data-target="#nai" style="cursor: pointer;">
                        <img class="img-thumbnail rounded mb-3" src="../../../assets/cv/naiarabarto-01.png" alt="" style="min-width: 100%">
                        <h5 class="text-light">Naira</h5>
                        <p class="font-weight-light mb-0 text-light">Diseño de Logo e Imagen Institucional</p>
                    </div>
                </div>
            </div>
        </div>
    </mdb-carousel-item>
</mdb-carousel>