<div class="row mt-5 mb-5">
    <div class="col-lg-2 col-1 col-md-2 "> </div>
    <div class="col-lg-8 col-10 col-sm-10 col-md-6 ">
        <div class="view">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 " data-aos="fade-up" data-aos-duration="1000">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0" (click)="irA(1)">
                        <img class="img-fluid mb-3" src="../../../assets/yo/labo4.PNG" alt="">
                        <h5 class="text-light" style="font-size:9pt; font-weight: 700;">Repositorio</h5>
                        <h5 class="text-light">UTN - Laboratorio 4</h5>
                        <p class="font-weight-light mb-0 text-light">Proyecto en Angular 8 con base de datos NoSql</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1500">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0" (click)="irA(2)">
                        <img class="img-fluid mb-3" src="../../../assets/yo/gameplay.gif" alt="">
                        <h5 class="text-light" style="font-size:9pt; font-weight: 700;">Repositorio</h5>
                        <h5 class="text-light">UTN - Laboratorio 2</h5>
                        <p class="font-weight-light mb-0 text-light">Juego del Ahorcado Desarrollo en Java</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="2000">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0" (click)="irA(3)">
                        <img class="img-fluid mb-3" src="../../../assets/yo/pps.jpg" alt="">
                        <h5 class="text-light" style="font-size:9pt; font-weight: 700;">Repositorio</h5>
                        <h5 class="text-light">UTN - PPS</h5>
                        <p class="font-weight-light mb-2 text-light ">
                            Diseño y Desarrollo de Aplicacion para Android con IONIC
                        </p>
                    </div>
                </div>
            </div>
        </div>









    </div>
    <div class="col-lg-2  col-11 col-sm-11 order-lg-2 my-auto showcase-text">
    </div>
</div>