<!-- Modales -->

<div class="modal fade bd-example-modal-xl pt-5 mb-1" id="ahor" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Juego del Ahorcado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="gallery" id="gallery">
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/gameplay1.png" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/gameplay+.png" alt="Card image cap">
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl pt-5 mb-5 " id="cnv" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Comisión Nacional de Valores</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="gallery" id="gallery">
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/cnv (5).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/cnv (4).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/cnv (2).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/cnv (6).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/cnv (8).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/cnv (9).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/cnv (3).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/cnv (7).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/cnv (1).jpg" alt="Card image cap">
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl pt-5 mb-1" id="vt4" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Violentango 4</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="gallery" id="gallery">
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/vt4 (4).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/vt4 (2).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/vt4 (6).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/vt4 (8).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/vt4 (9).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/vt4 (3).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/vt4 (7).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/vt4 (5).jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/vt4 (1).jpg" alt="Card image cap">
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl pt-5 mb-1" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Marca Palacio de Hacienda</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="gallery" id="gallery">
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/palacio.jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/palacio3.jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/palacio2.jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/palacio5.jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/palacio4.jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/palacio8.jpg" alt="Card image cap">
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl pt-5 mb-1" id="nai" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Naiara Eventos Gastronómicos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="gallery" id="gallery">
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/25-06JUMNI-02.png" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/25-06JUMNI-03.png" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/barto-HISTORY-04.png" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/barto2-02.png" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/menu-01.png" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/sushi-nai-4gatosyPibe.2ai-01.png" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/sushi-nai-4gatosyPibe.2ai-02.jpg" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/sushi-nai-4gatosyPibe.2ai-02.png" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/sushi-nai-4gatosyPibe-01.png" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="../../../assets/cv/sushi-nai-4gatosyPibe-02.png" alt="Card image cap">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid" src="../../../assets/cv/sushi-nai-4gatosyPibe-03.png" alt="Card image cap">
                    </div>

                </div>
                <hr>

            </div>
        </div>
    </div>
</div>